
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: magenta;
}
header {

    h1 {
    text-align: center;
    }
}

div {
        margin: 5%;
        button {
            color: darkgreen;
            background-color: yellow;
            padding: 5px;
        }
    }

section {
    margin: 5%;
    p {
        color: yellow;
        background-color: darkgreen;
        padding: 5px;
        width: 13%;
    }
    button {
        color: darkgreen;
        background-color: yellow;
        padding: 5px;
    }
}

